<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.yeb.mapper.RoleMapper">

    <select id="getRolesByUserId" resultType="com.xxx.yeb.entity.Role">
        SELECT
            r.id,
            r.`name`,
            r.nameZh
        FROM
            role AS r
            LEFT JOIN admin_role AS ar ON r.id = ar.rid
        WHERE
            ar.adminId = #{userId}
    </select>
</mapper>
